---
title: Aktionen
permalink: aktionen.html
layout: page
---

{% assign sorted = site.list | reverse %}
{% assign last = sorted.first.date %}

<h2>Aktion vom {{ last | date: "%-d. %-m. %Y" }}</h2>
<p>
{% for action in site.actions %}
{% assign a = action.date | date: "%B%Y" %}
{% assign b = last  | date: "%B%Y" %}
{% if a == b %}
<a href="{{ site.baseurl }}{{ action.url }}" class="button">Als Druckdatei</a><br>
{% endif %}
{% endfor %}
Verlegte Stolpersteine:
</p>
<ul>
{% for page in sorted %}
{% if page.date == last %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}<br>&emsp;&emsp;{{ page.names }}</a></li>
{% else %}
</ul>
{% assign last = page.date %}
<h2>Aktion vom {{ last | date: "%-d. %-m. %Y" }}</h2>
<p>
{% for action in site.actions %}
{% assign a = action.date | date: "%B%Y" %}
{% assign b = last  | date: "%B%Y" %}
{% if a == b %}
<a href="{{ site.baseurl }}{{ action.url }}" class="button">Als Druckdatei</a><br>
{% endif %}
{% endfor %}
Verlegte Stolpersteine:
</p>
<ul>
<li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
<hr>
<a href="{{ site.baseurl }}/feed.xml" class="button"><ion-icon name="logo-rss"></ion-icon> Aktionen RSS</a>