---
title: Startseite
layout: default
---
<style>
    .icon-big {
        font-size: 10rem;
    }
</style>
<div class="row">
    <div class="five columns">
        <div class="card">
            <div class="card-content center-align">
                <h2>
                    <ion-icon class="icon-big" name="list"></ion-icon>
                    <br>Liste
                </h2>
            </div>
            <div class="card-action">
                <a class="button" href="{{ site.baseurl }}/list.html">MEHR
                    <ion-icon name="add-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="five columns">
        <div class="card">
            <div class="card-content center-align">
                <h2>
                    <ion-icon class="icon-big" name="map"></ion-icon>
                    <br>Karte
                </h2>
            </div>
            <div class="card-action">
                <a class="button" href="{{ site.baseurl }}/map.html">MEHR
                    <ion-icon name="add-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="five columns">
        <div class="card">
            <div class="card-content center-align">
                <h2>
                    <ion-icon class="icon-big" name="calendar"></ion-icon>
                    <br>Aktionen
                </h2>
            </div>
            <div class="card-action">
                <a class="button" href="{{ site.baseurl }}/aktionen.html">MEHR
                    <ion-icon name="add-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="five columns">
        <div class="card">
            <div class="card-content center-align">
                <h2>
                    <ion-icon class="icon-big" name="information-circle"></ion-icon>
                    <br>Recherche
                </h2>
            </div>
            <div class="card-action">
                <a class="button" href="{{ site.baseurl }}/recherche.html">MEHR
                    <ion-icon name="add-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            {% for page in site.pages %}
            {% if page.title == 'Ueber' %}
            {{ page.content }}
            {% endif %}
            {% endfor %}
        </div>
        {% if site.blog == true %}
        <div class="twelve columns">
            <h2>Neuigkeiten</h2>
            <ul>
                {% for post in site.posts %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>