---
layout: page 
title: Liste & Karte 
permalink: /list.html 
---
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="{{ site.baseurl }}/assets/js/Control.FullScreen.js"></script>

<style>
.leaflet-control-zoom-fullscreen { background-image: url({{ site.baseurl }}/images/icon-fullscreen.png); }
.leaflet-retina .leaflet-control-zoom-fullscreen { background-image: url({{ site.baseurl }}/images/icon-fullscreen-2x.png); background-size: 26px 26px; }
.leaflet-container:-webkit-full-screen { width: 100% !important; height: 100% !important; z-index: 99999; }
.leaflet-pseudo-fullscreen { position: fixed !important; width: 100% !important; height: 100% !important; top: 0px !important; left: 0px !important; z-index: 99999; }
#list-id, #steine{display:none;}#map{height: 600px;}li{list-style: none;}
.map-btn,.list-btn,.stolperstein-btn{width:calc(33% - 1px);}
</style>
<script>
var coordinates = [
    {% for page in site.list %}
    {
        "x": {{ page.x }},
        "y": {{ page.y }},
        "title": "{{ page.title }}",
        "url": "{{ site.baseurl }}{{ page.url }}"
    }
    {% unless forloop.last %},{% endunless %}
    {% endfor %}
];
</script>
<a class="button button-primary map-btn" onclick="showMap();"><i class="icon ion-android-map"></i> KARTE</a>
<a class="button button-primary list-btn" onclick="showList();"><i class="icon ion-android-list"></i> LISTE</a>
<a class="button button-primary list-btn" onclick="showSteine();"><i class="icon ion-stop"></i> STEINE</a>
<div id="map"></div>
<div id="list-id">
    <form>
        <div class="input-field">
          <input id="search" type="search" class="fuzzy-search" required>
        </div>
      </form>
<ul class="list">
    {% for item in site.list %}
    <li class="card">
        <div class="card-content">
        <h2>{{ item.title }}<br><small>{{ item.address }}</small></h2>
        </div>
        <div class="card-action">
        <a class="button" href="{{ site.baseurl }}{{ item.url }}">LINK</a>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
<div id="steine">
{% for i in site.list %}
{% for page in i.steine %}
<p>{{ page.name }}</p>
<a href="{{ site.baseurl }}{{ i.url }}">{% include stolperstein.svg %}</a>
{% endfor %}
{% endfor %}
</div>
<script src="{{ site.baseurl }}/assets/js/list.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/list.js"></script>