<footer>
    <div class="container">
        <ul class="footer-list">
            <li class="footer-item">
            <a href="https://github.com/opendata-heilbronn" class="footer-link">Made /w <i class="icon ion-heart"></i> by OK Lab Heilbronn</a>
    </li>
            <li class="footer-item"><a href="{{ site.baseurl }}/impressum.html" class="footer-link">Impressum</a></li>
            <li class="footer-item"><a href="http://creativecommons.org/licenses/by-sa/4.0/" class="footer-link">Lizenz 
    <img src="https://licensebuttons.net/l/by-sa/4.0/80x15.png" alt="License: CC BY-SA 4.0" />
    </a></li>
        </ul>
    </div>
    </div>
</footer>