<nav class="navbar">
  <div class="container navbar-title">
    <a href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
    </a>
  </div>
  <div class="container">
    <ul class="navbar-list">
      {% for i in site.data.header %}
        <li class="navbar-item">
          {% assign first = i.link | truncate: 1,"" %}
          <a href="{% if first == "/" %}{{ site.baseurl }}{{ i.link }}{% else %}{{ i.link }}{% endif %}" class="navbar-link">{{ i.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
