<nav class="navbar">
  <div class="container navbar-title">
    <a href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
    </a>
  </div>
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/index.html">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/aktionen.html">Aktionen</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/list.html">Liste<span class="hide-on-small"> & Karte</span></a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/info.html">Infos</a></li>
    </ul>
  </div>
</nav>