---
---
<!DOCTYPE html>
<html lang="de">

<head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/print.css">

</head>

<body>
        {% for item in site.list %}
        {% assign a = page.date | date: "%B%Y" %}
        {% assign b = item.date | date: "%B%Y" %}
        {% if a == b %}


{% include stolperstein.svg %}

        <h1>{{ item.title }}<br><small>{{ item.address }}</small></h1>
        <p>{{ item.content }}</p>
        {% endif %}
        {% endfor %}
</body>

</html>