---
---

<!DOCTYPE html>
<html lang="de">

<head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/print.css">

</head>

<body>
        {% for item in site.list %}
        {% assign a = page.date | date: "%B%Y" %}
        {% assign b = item.date | date: "%B%Y" %}
        {% if a == b %}

{% for page in item.steine %}
{% include stolperstein.svg %}
{% endfor %}

        <h2>{{ item.title }}<br><small>{{ item.address }}</small></h2>
        <p>{{ item.content }}</p>
        {% endif %}
        {% endfor %}
</body>
<script>
document.onreadystatechange = function () {
if (document.readyState == "complete") {
        window.print();
}
}
</script>
</html>