---
layout: page
---
<h2>{{ page.address }}</h2>

<div class="center-align">
{% assign this = page %}
{% assign steine = page.steine %}
{% for page in steine %}
{% include stolperstein.svg %}
{% endfor %}
</div>

{% if this.audio %}
<div>
<span>Artikel vorlesen</span><br>
<audio controls>
  <source src="{{ this.audio }}" type="audio/mpeg">
  Ihr Browser unterstützt kein HTML5 Audio
</audio>
<style>
audio::-webkit-media-controls-enclosure {
overflow:hidden;
}
audio::-webkit-media-controls-panel {
width: calc(100% + 163px);
background: white;
}
</style>
</div>
{% endif %}

{{ this.content }}

{% if this.images %}
<div class="center-align">
{% for image in this.images %}
<img src="{{ site.baseurl }}{{ image }}"><br>
{% endfor %}
</div>
{% endif %}